In [1]:
# importing libaries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# importing the dataset
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.shape

(400, 5)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [5]:
# here checking dataset null have or not
df.isna().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [6]:
# Converting categorical values to numerical values
df = pd.get_dummies(df,drop_first=True)

In [7]:
df.head()

    User ID  Age  EstimatedSalary  Purchased  Gender_Male
0  15624510   19            19000          0            1
1  15810944   35            20000          0            1
2  15668575   26            43000          0            0
3  15603246   27            57000          0            0
4  15804002   19            76000          0            1

In [8]:
df.tail()

      User ID  Age  EstimatedSalary  Purchased  Gender_Male
395  15691863   46            41000          1            0
396  15706071   51            23000          1            1
397  15654296   50            20000          1            0
398  15755018   36            33000          0            1
399  15594041   49            36000          1            0

In [9]:
# checking each value counts
df['Purchased'].value_counts()

0    257
1    143
Name: Purchased, dtype: int64

In [10]:
# dropping User ID column
df = df.drop('User ID',axis = 1)

In [11]:
df.head()

   Age  EstimatedSalary  Purchased  Gender_Male
0   19            19000          0            1
1   35            20000          0            1
2   26            43000          0            0
3   27            57000          0            0
4   19            76000          0            1

In [14]:
# Seperating x and y
x = df.loc[:,["Age",'EstimatedSalary','Gender_Male']].values
y = df.loc[:,['Purchased']].values

In [15]:
y.shape

(400, 1)

In [29]:
# Splitting in training and testing values
from sklearn.model_selection import train_test_split

In [30]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0,test_size = 0.25)

## Feature Scaling

In [32]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [33]:
# Model building 
from sklearn.linear_model import LogisticRegression

In [35]:
model = LogisticRegression()

In [39]:
model.fit(x_train,y_train)

C:\Users\Ghost\anaconda3\lib\site-packages\sklearn\utils\validation.py:72: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LogisticRegression()

In [40]:
# predictions 
y_pred = model.predict(x_test)

In [41]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [42]:
cfm = confusion_matrix(y_test,y_pred)

In [43]:
cfm

array([[65,  3],
       [ 7, 25]], dtype=int64)