In [1]:
# importing libraries
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# loading dataset
df = pd.read_csv("HousePrices.csv")

## Exploratory Data Analysis

In [3]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [5]:
# Checking null values
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [7]:
# Checking how mach precent of that column is missing 
df.isnull().mean().sort_values(ascending = False)

PoolQC           0.995205
MiscFeature      0.963014
Alley            0.937671
Fence            0.807534
FireplaceQu      0.472603
                   ...
CentralAir       0.000000
SaleCondition    0.000000
Heating          0.000000
TotalBsmtSF      0.000000
Id               0.000000
Length: 81, dtype: float64

In [8]:
# Checking correlation of Saleprice with other columus
cor_ser = df.corr().iloc[-1,:].sort_values(ascending = False)
cor_ser

SalePrice        1.000000
OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
GarageYrBlt      0.486362
MasVnrArea       0.477493
Fireplaces       0.466929
BsmtFinSF1       0.386420
LotFrontage      0.351799
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
HalfBath         0.284108
LotArea          0.263843
BsmtFullBath     0.227122
BsmtUnfSF        0.214479
BedroomAbvGr     0.168213
ScreenPorch      0.111447
PoolArea         0.092404
MoSold           0.046432
3SsnPorch        0.044584
BsmtFinSF2      -0.011378
BsmtHalfBath    -0.016844
MiscVal         -0.021190
Id              -0.021917
LowQualFinSF    -0.025606
YrSold          -0.028923
OverallCond     -0.077856
MSSubClass      -0.084284
EnclosedPorch   -0.128578
KitchenAbvGr    -0.135907
Name: SalePrice, dtype: float64

In [12]:
# selecting top 10 predictors
columns = cor_ser.index[:10]
columns

Index(['SalePrice', 'OverallQual', 'GrLivArea', 'GarageCars', 'GarageArea',
       'TotalBsmtSF', '1stFlrSF', 'FullBath', 'TotRmsAbvGrd', 'YearBuilt'],
      dtype='object')

In [17]:
data = df.loc[:,columns]
data

      SalePrice  OverallQual  GrLivArea  ...  FullBath  TotRmsAbvGrd  YearBuilt
0        208500            7       1710  ...         2             8       2003
1        181500            6       1262  ...         2             6       1976
2        223500            7       1786  ...         2             6       2001
3        140000            7       1717  ...         1             7       1915
4        250000            8       2198  ...         2             9       2000
...         ...          ...        ...  ...       ...           ...        ...
1455     175000            6       1647  ...         2             7       1999
1456     210000            6       2073  ...         2             7       1978
1457     266500            7       2340  ...         2             9       1941
1458     142125            5       1078  ...         1             5       1950
1459     147500            5       1256  ...         1             6       1965

[1460 rows x 10 columns]

In [ ]:
data.style.background_gradient(cmap='coolwarm').set_precision(2)

In [18]:
data.isna().sum()

SalePrice       0
OverallQual     0
GrLivArea       0
GarageCars      0
GarageArea      0
TotalBsmtSF     0
1stFlrSF        0
FullBath        0
TotRmsAbvGrd    0
YearBuilt       0
dtype: int64

In [19]:
# seperating x and y
x = data.iloc[:,1:].values
y = data.iloc[:,0].values

In [22]:
# Splitting trsin and test values 
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state = 0)

In [23]:
# Model building 
from sklearn.linear_model import Ridge

In [24]:
model = Ridge(normalize=True)

In [25]:
model.fit(x_train,y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None, normalize=True,
      random_state=None, solver='auto', tol=0.001)

In [26]:
# prediction
y_pred= model.predict(x_test)

In [27]:
# Model evalution
from sklearn.metrics import r2_score

In [28]:
r2_score(y_test,y_pred)

0.6430916411486567